<DOCTYPE html>
<html>
<head>
  <title>Grit bin finder</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%=  stylesheet_link_tag "http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

****** HELP KEEP YOUR STREETS CLEAR OF SNOW ********

<%= yield %>

</body>
</html>
